
:root {

    --neon-color: hsla(69, 98%, 47%, 0.966);
    --neon-two: rgb(233, 252, 128); 

}

body {
    background-color: black;
    color: white;
}


header {
    background-color: rgba(29, 33, 46, 0.7);
    position: sticky;
    top: 0;
    z-index: 100;
}


h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}

h2 {
    text-align: center;
    font-family: monospace;
    font-weight: bold;
}


.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: teal;
    top: 0em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: beige;
    position: sticky;
    top: 1em;
    
    }

    .drop-down {
        display: none;
    }

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


footer {

    background-color:darkslategrey;
    color: whitesmoke;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.Nav-item {
    height: 50%;
    width: 90%;
    margin: 5em;
    gap: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    font-family: monospace;
   
   
}



.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



 
a {
    color: beige;
}

a:hover {
    background-color:goldenrod;
}

.Dark-mode {
    border-style: solid;
    text-align: left;
    color: var(--neon-color);
    border-width: 0.2em;
    border-color:rgb(248, 248, 60);
    padding: 0.3em;
    cursor: pointer;
    border-radius: .25em;
    text-shadow: 0 0 0.6em currentColor, 0 0 0.2em rgba(0, 0, 100, 0.5);
    box-shadow: inset 0 0 0.5em 0 var(--neon-color);
    position: relative;




}

.Dark-mode::before {
        content: "";
        background: var(--neon-two);
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        height: 25%;
        transform: perspective(1em) rotateX(40deg) scale(1, 0.45);
        filter: blur(0.4em);
        pointer-events: none;

}

.Dark-mode:hover {

    background: var(--neon-color);
    color: hsla(60, 8%, 3%, 0.733);
    text-shadow: none;

}

.Dark-mode::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 0.5em 0.5em var(--neon-color);
    opacity: 0;
    transition: opacity 100ms linear;
    

}

.Dark-mode:hover::after {
    opacity: 1;
}

.About {
    text-align:justify;
    border: 10px, solid, black;
    border-radius: 10%;
    border: solid;
    padding: 2em;
    box-shadow: 0.7em 0.7em rgb(42, 51, 52), -0.7em 0.4em olive;
}

.Coding {
    border: solid;
    border-radius: 10%;
    padding: 2em;
    box-shadow: 2em -1em 1em var(--neon-color);
}

.other-skills {
 grid-column-start: 1;
 grid-column-end: 3;
 grid-row-start: 2;
 text-align: center;
 border: solid; 
 border-radius: 10%;
 box-shadow: 2em -1em 1em var(--neon-color);
}

.myself {
    height: 70%;
    width: 80%; 
    border-radius: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

.hobby {
    height: 70%;
    width: 80%;
    border-radius: 15%;
    padding-left: 10%;
    padding-right: 10%;
}

.school-img {
    height: 30%;
    width: 30%;
}

.language {

    height: 50%;
    width: 30%;

}

.repo {

    height: 30%;
    width: 30%;
    
}



.myself {
    max-width: 100%;
    height: auto;
}

.hobby {
    max-width: 100%;
    height: auto;
}



/*-----------------------------------------------Media Queries Mobiles-----------------*/


@media (max-width: 800px) {

    h1 {
        display: none;
    }

    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;;
    }

    .drop-down {
        display: block;
        font-size: 1.5rem;
        background-color: teal; 
        color: beige;
        height: auto;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-weight: bold;
    } 

    .fas {
        cursor: pointer; 
    }
}

@media (min-width: 801px) {
    .nav {
        display:flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: teal;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: beige;
        position: sticky;
        
    }
}